#kedua {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 45px;
    background: #fff;

    .container {
        .heading2 {
            border-bottom: 2px solid #D1A358;
            margin-bottom: 24px;
            padding-top: 30px;

            h2 {
                margin: 0 0 15px;
                font-size: 24px;
            }
        }
    }
}